*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	font-size: 6.25%;
}
body{
	font-size: 12rem;
}

/*--- Header ---*/
header{
	width: 100%;
	height: auto;
	margin-top: 50px;
	text-align: center;
}

header .header-logo{
	margin-bottom: 5rem;
}

header .header-logo img{
	width: 200px;
}

header .header-slogan{
	font-family: Cambria, 'Cambria', serif;
	font-size: 15rem;
}

/*--- Main ---*/
main{
	margin-top: 10px;
	
}


main .main-idiom{
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Wikipedia_logo_v3.svg/1024px-Wikipedia_logo_v3.svg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200px;
	height: 320px;
	font-size: 14rem;
	font-family: Verdana;
	
}

main .main-idiom .main-idiom-part{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.main-idiom .main-idiom-part .lang1{
	margin: 10px 70px;
}
.main-idiom .main-idiom-part .lang2{
	margin: 10px 120px;
}
.main-idiom .main-idiom-part .lang3{
	margin: 10px 140px;
}
.main-idiom .main-idiom-part .lang4{
	margin: 10px 120px;
}
.main-idiom .main-idiom-part .lang5{
	margin: 10px 70px;
}

.main-idiom-part div a{
	font-weight: bold;
	text-decoration: none;
	color: #36c;
}
.main-idiom-part div a:hover{
	text-decoration: underline;
}

.main-idiom-part div p{
	font-size: 12rem;
	color: grey;
	margin-top: 5px;
}


.main-search{
	width: 450px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-search-container{
	border: 1px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-search-container:hover{
	border: 2px solid #36c;
}
.main-search-container:focus{
	outline: 1px solid #36c;
}

.main-search .main-search-container .search-input{
	width: 310px;
	height: 40px;
	border: none;
	margin-left: 10px;
	font-size: 16rem;
}
.main-search .main-search-container .search-input:focus{
	outline: none;
}

.main-search .main-search-container .list-lang-input{
	width: 80px;
	height: 20px;
	margin-right: 10px;
	font-family: "Helvetica","Roboto";
	border: none;
	background-color: #F0F0F0;
	text-align: center;
}
.main-search .main-search-container .list-lang-input:focus{
	outline: none;
}
.main-search .main-search-container .list-lang-input:hover{
	cursor: pointer;
}

.main-search .main-search-container .search-button{
	background-image: url('https://www.clker.com/cliparts/n/U/H/1/H/u/search-icon-white-one-hi.png');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
	width: 50px;
	height: 50px;
	background-color: #36c;
	border: none;
	border-radius: 0;
}
.main-search .main-search-container .search-button:focus{
	outline: none;
}
.main-search .main-search-container .search-button:hover{
	cursor: pointer;
}